body {
  width: 1440px;
  height: 3079px;
}

.home {
  position: absolute;
  width: 1440px;
  height: 914px;
  left: 0px;
  top: 6px;
  background: linear-gradient(180deg, rgba(7, 115, 250, 0.7) 0%, #0773fa 80.03%);
}

/* header */

a {
  text-decoration: none;
}

#logo {
  position: absolute;
  width: 139.09px;
  height: 33px;
  left: 154px;
  top: 20px;
}

#HomeLink {
  position: absolute;
  width: 45px;
  height: 29px;
  left: 419px;
  top: 19px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 180%;
  text-align: center;
  color: #ffffff;
}

#WhyVersoLink {
  position: absolute;
  width: 82px;
  height: 29px;
  left: 527px;
  top: 19px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 180%;
  text-align: center;
  color: #ffffff;
}

#TeamLink {
  position: absolute;
  width: 41px;
  height: 29px;
  left: 644px;
  top: 19px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 180%;
  text-align: center;
  color: #ffffff;
}

#RoadmapLink {
  position: absolute;
  width: 72px;
  height: 29px;
  left: 734px;
  top: 19px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 180%;
  text-align: center;
  color: #ffffff;
}

#BlogLink {
  position: absolute;
  width: 32px;
  height: 29px;
  left: 855px;
  top: 19px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 180%;
  text-align: center;
  color: #ffffff;
}

#WhitepaperLink {
  position: absolute;
  width: 90px;
  height: 29px;
  left: 936px;
  top: 19px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 180%;
  text-align: center;
  color: #ffffff;
}

#Button1Link {
  display: inline-block;
  position: absolute;
  width: 76px;
  height: 29px;
  left: 1190px;
  top: 19px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 180%;
  text-align: center;
  border: 1px solid #fff;
  border-radius: 7px;
  padding: 5px 29px 5px 30px;
  margin-top: -5px;
  color: #ffffff;
}

header span {
  padding-left: 4px;
}

/* home content */

#Title {
  position: absolute;
  width: 790px;
  height: 80px;
  left: 326px;
  top: 215px;
  font-family: Mulish;
  font-style: normal;
  font-weight: 900;
  font-size: 51px;
  line-height: 80px;
  text-align: center;
  letter-spacing: -2.4px;
  color: #ffffff;
}

#Subtitle {
  position: absolute;
  width: 689px;
  height: 56px;
  left: 376px;
  top: 315px;
  font-family: Mulish;
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 28px;
  text-align: center;
  letter-spacing: -0.2px;
  color: #ffffff;
  margin: 20px 0 0 0;
}

#subtitle-link {
  font-family: Mulish;
  font-style: normal;
  font-weight: 600;
  font-size: 21px;
  line-height: 28px;
  letter-spacing: -0.2px;
  color: #033573;
}

#box-yellow {
  position: absolute;
  width: 44px;
  height: 49px;
  left: 1251px;
  top: 207px;
  filter: blur(4px) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

#box-grey {
  position: absolute;
  width: 58px;
  height: 64px;
  left: 1193px;
  top: 301px;
  filter: blur(4px) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

#box-purple {
  position: absolute;
  width: 44px;
  height: 49px;
  left: 240px;
  top: 639px;
  filter: blur(4px) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

#box-green {
  position: absolute;
  width: 73px;
  height: 81px;
  left: 154px;
  top: 719px;
  filter: blur(4px) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

#cex-listings {
  position: absolute;
  width: 102px;
  height: 28px;
  left: 534px;
  top: 419px;
  font-family: Mulish;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  letter-spacing: -0.2px;
  color: #ffffff;
}

#dex-listings {
  position: absolute;
  width: 102px;
  height: 28px;
  left: 803px;
  top: 419px;
  font-family: Mulish;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  letter-spacing: -0.2px;
  color: #ffffff;
}

#rectangle1 {
  position: absolute;
  width: 179px;
  height: 71px;
  left: 495px;
  top: 461px;
  background: #ffffff;
  box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.07), 0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198),
    0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035),
    0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725),
    0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);
  border-radius: 6px;
}

#gate {
  position: absolute;
  width: 194px;
  height: 107px;
  left: 495px;
  top: 447px;
}

#rectangle2 {
  position: absolute;
  width: 179px;
  height: 71px;
  left: 764px;
  top: 461px;
  background: #ff5f00;
  box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.07), 0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198),
    0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035),
    0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725),
    0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);
  border-radius: 6px;
}

#pandolin {
  position: absolute;
  width: 132px;
  height: 70px;
  left: 788px;
  top: 462px;
}

#rectangle3 {
  position: absolute;
  width: 179px;
  height: 71px;
  left: 764px;
  top: 550px;
  background: #ffffff;
  box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.07), 0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198),
    0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035),
    0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725),
    0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);
  border-radius: 6px;
}

#partner2 {
  position: absolute;
  width: 60px;
  height: 60px;
  left: 824px;
  top: 555px;
}

#rectangle4 {
  position: absolute;
  width: 179px;
  height: 71px;
  left: 764px;
  top: 639px;
  background: #ffffff;
  box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.07), 0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198),
    0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035),
    0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725),
    0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);
  border-radius: 6px;
}

#dctdao {
  margin: 19px 8px 20px 8px;
}
