body {
  width: 1440px;
  height: 3079px;
}

.home {
  position: absolute;
  width: 1440px;
  height: 914px;
  left: 0px;
  top: 6px;
  background: linear-gradient(180deg, rgba(7, 115, 250, 0.7) 0%, #0773fa 80.03%);
}

/* header */

a {
  text-decoration: none;
}

#logo {
  position: absolute;
  width: 139.09px;
  height: 33px;
  left: 154px;
  top: 20px;
}

#HomeLink {
  position: absolute;
  width: 45px;
  height: 29px;
  left: 419px;
  top: 19px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 180%;
  text-align: center;
  color: #ffffff;
}

#WhyVersoLink {
  position: absolute;
  width: 82px;
  height: 29px;
  left: 527px;
  top: 19px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 180%;
  text-align: center;
  color: #ffffff;
}

#TeamLink {
  position: absolute;
  width: 41px;
  height: 29px;
  left: 644px;
  top: 19px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 180%;
  text-align: center;
  color: #ffffff;
}

#RoadmapLink {
  position: absolute;
  width: 72px;
  height: 29px;
  left: 734px;
  top: 19px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 180%;
  text-align: center;
  color: #ffffff;
}

#BlogLink {
  position: absolute;
  width: 32px;
  height: 29px;
  left: 855px;
  top: 19px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 180%;
  text-align: center;
  color: #ffffff;
}

#WhitepaperLink {
  position: absolute;
  width: 90px;
  height: 29px;
  left: 936px;
  top: 19px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 180%;
  text-align: center;
  color: #ffffff;
}

#Button1Link {
  display: inline-block;
  position: absolute;
  width: 76px;
  height: 29px;
  left: 1190px;
  top: 19px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 180%;
  text-align: center;
  border: 1px solid #fff;
  border-radius: 7px;
  padding: 5px 29px 5px 30px;
  margin-top: -5px;
  color: #ffffff;
}

header span {
  padding-left: 4px;
}

/* home content */

#Title1 {
  position: absolute;
  width: 790px;
  height: 80px;
  left: 326px;
  top: 215px;
  font-family: Mulish;
  font-style: normal;
  font-weight: 900;
  font-size: 51px;
  line-height: 80px;
  text-align: center;
  letter-spacing: -2.4px;
  color: #ffffff;
}

#Subtitle {
  position: absolute;
  width: 689px;
  height: 56px;
  left: 376px;
  top: 315px;
  font-family: Mulish;
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 28px;
  text-align: center;
  letter-spacing: -0.2px;
  color: #ffffff;
  margin: 20px 0 0 0;
}

#subtitle-link {
  font-family: Mulish;
  font-style: normal;
  font-weight: 600;
  font-size: 21px;
  line-height: 28px;
  letter-spacing: -0.2px;
  color: #033573;
}

#box-yellow {
  position: absolute;
  width: 44px;
  height: 49px;
  left: 1251px;
  top: 219px;
  filter: blur(3px) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

#box-grey {
  position: absolute;
  width: 58px;
  height: 64px;
  left: 1193px;
  top: 313px;
  filter: blur(3px) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

#box-purple {
  position: absolute;
  width: 44px;
  height: 49px;
  left: 240px;
  top: 651px;
  filter: blur(3px) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

#box-green {
  position: absolute;
  width: 73px;
  height: 81px;
  left: 154px;
  top: 731px;
  filter: blur(3px) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

#cex-listings {
  position: absolute;
  width: 102px;
  height: 28px;
  left: 534px;
  top: 419px;
  font-family: Mulish;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  letter-spacing: -0.2px;
  color: #ffffff;
}

#dex-listings {
  position: absolute;
  width: 102px;
  height: 28px;
  left: 803px;
  top: 419px;
  font-family: Mulish;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  letter-spacing: -0.2px;
  color: #ffffff;
}

#rectangle1 {
  position: absolute;
  width: 179px;
  height: 71px;
  left: 495px;
  top: 461px;
  background: #ffffff;
  box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.07), 0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198),
    0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035),
    0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725),
    0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);
  border-radius: 6px;
}

#gate {
  position: absolute;
  width: 194px;
  height: 107px;
  left: 495px;
  top: 447px;
}

#rectangle2 {
  position: absolute;
  width: 179px;
  height: 71px;
  left: 764px;
  top: 461px;
  background: #ff5f00;
  box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.07), 0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198),
    0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035),
    0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725),
    0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);
  border-radius: 6px;
}

#pandolin {
  position: absolute;
  width: 132px;
  height: 70px;
  left: 788px;
  top: 462px;
}

#rectangle3 {
  position: absolute;
  width: 179px;
  height: 71px;
  left: 764px;
  top: 550px;
  background: #ffffff;
  box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.07), 0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198),
    0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035),
    0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725),
    0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);
  border-radius: 6px;
}

#partner2 {
  position: absolute;
  width: 60px;
  height: 60px;
  left: 824px;
  top: 555px;
}

#rectangle4 {
  position: absolute;
  width: 179px;
  height: 71px;
  left: 764px;
  top: 639px;
  background: #ffffff;
  box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.07), 0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198),
    0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035),
    0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725),
    0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);
  border-radius: 6px;
}

#dctdao {
  margin: 19px 8px 20px 8px;
}

#line1 {
  position: absolute;
  width: 1723px;
  height: 0px;
  left: -141px;
  top: 734px;
  border: 1px solid rgba(236, 236, 236, 0.3);
  transform: matrix(0.92, -0.39, 0.39, 0.92, 0, 0);
}

#under-home-link {
  width: 900px;
  height: 28px;
  margin: 851px 400px 35px 402px;
}

#text1 {
  font-family: Mulish;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: -0.4px;
  color: #ffffff;
}

#below-link {
  font-family: Mulish;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: -0.4px;
  color: #033573;
}
#icon {
  position: absolute;
  left: 1051px;
  top: 859px;
}

/* how to add */

.how-to-add {
  position: absolute;
  width: 1440px;
  height: 799px;
  top: 900px;
  left: 0px;
  background: #0773fa;
}

#Title2 {
  width: 598px;
  height: 80px;
  font-family: Mulish;
  font-style: normal;
  font-weight: 800;
  font-size: 44px;
  line-height: 80px;
  text-align: center;
  letter-spacing: -2.4px;
  color: #ffffff;
  margin: 57px 422px 0 421px;
}

#cart1 {
  margin: 31px 142.68px 60px 356px;
  width: 367.32px;
  height: 470px;
}

#cart2 {
  position: relative;
  width: 367.32px;
  height: 470px;
  top: -528px;
  left: 870px;
}

.text-under-picture {
  width: 293px;
  height: 112px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: -0.2px;
  color: rgba(255, 255, 255, 0.83);
  margin-top: 25px;
}

.eclipse {
  position: relative;
  top: -145px;
  left: -90px;
}

.links2section {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: -0.2px;
  color: #033573;
}

#screen1 {
  filter: drop-shadow(0px 100px 80px rgba(0, 0, 0, 0.07))
    drop-shadow(0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198))
    drop-shadow(0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275))
    drop-shadow(0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035))
    drop-shadow(0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725))
    drop-shadow(0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802));
  border-radius: 10px;
}

#screen2 {
  border-radius: 10px;
}

/* table */

.vso-staking-opportunities {
  position: absolute;
  width: 899px;
  height: 736px;
  left: 270px;
  top: 1710px;
}

#Title3 {
  font-family: Mulish;
  font-style: normal;
  font-weight: 800;
  font-size: 44px;
  line-height: 80px;
  text-align: center;
  letter-spacing: -2.4px;
  color: #283049;
}

#text-hint {
  font-family: Mulish;
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 28px;
  text-align: center;
  letter-spacing: -0.2px;
  color: #1f3e4f;
}

#thirdsectiontable {
  background: tan;
  margin-top: 23px;
}

#rowheader1,
#rowheader2,
#rowheader3,
#rowheader4 {
  display: inline;
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: -0.2px;
  color: #1f3e4f;
}

#rowheader1 {
  margin-right: 174px;
  padding-left: 10px;
}

#rowheader2 {
  margin-right: 134px;
}

#rowheader3 {
  margin-right: 122px;
}

#star {
  position: relative;
  top: -12px;
  left: 5px;
}

.vso-staking-opportunities hr {
  color: rgba(24, 123, 245, 0.4);
  margin-top: 15px;
}

.longtext {
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: -0.2px;
  color: #1f3e4f;
}

/* footer */

footer {
  position: absolute;
  width: 1440px;
  height: 639px;
  left: 0px;
  top: 2515px;
  background: #0060e0;
}

#logo1 {
  position: relative;
  top: 49px;
  left: 159px;
}

#backform {
  position: relative;
  top: 175px;
  left: 277px;
}

#footer-text1 {
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 29px;
  letter-spacing: -0.3px;
  color: #ffffff;
}

#email {
  margin-top: 40px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: -0.204545px;
  color: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.5;
}

#footer-rectangle {
  margin-top: 20px;
  height: 1px;
  width: 345px;
  background: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.1;
}

input[value] {
  margin-left: 172px;
}

#copyright {
  margin-top: 277px;
  margin-left: 155px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: -0.204545px;
  color: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.5;
}

#services {
  position: relative;
  left: 764px;
  top: -330px;
  margin-left: 142px;
}
